# local package install
-e .

# third party packages
dvc
dvc[gdrive]
sklearn
pandas
pytest
tox # Create atest Environment
flake8 # To track the Goodness of the code and track the code standard
flask
gunicorn
PyYAML