# local package install
-e .

# third party packages
dvc
dvc[gdrive]
sklearn
pandas
pytest
tox # Create atest Environment
flake8 # To track the Goodness of the code and track the code standard
flask==2.1.0
# jinja2==2.11.1
gunicorn # For publish webapp
PyYAML